ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 111, 80);
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li a:hover {
    background-color:rgb(111, 154, 111)
  }

 h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  body {background-color: rgb(175, 206, 233);}

  .leftside{ 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
  